In [1]:
import pandas as pd
import html5lib
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
from tqdm import tqdm

In [2]:
dataframes=[]
for k in tqdm(range(2001,2019)):
    for i in range(1,13):
        df = pd.read_html('./data/'+str(k)+'Y_'+str(i)+'M.xls',encoding='utf-8',header=0)
        dataframes.append(df[0])

100%|██████████| 18/18 [00:37<00:00,  4.19s/it]

In [3]:
df_nans=[]
for df in dataframes:
    df_nan=df[df.isna().any(1)]
    df_nan=df_nan.dropna(axis='columns')
    # 2007/12 2013/12 change
    df_nan.rename(columns={'類型代號':"基金名稱","基金統編":"基金規模","基金規模":"本月定時定額扣款筆數","單位淨值":"本月定時定額扣款人數","本月定時定額扣款筆數":"本月定時定額扣款金額"})
    df_nans.append(df_nan)

In [4]:
df_corrects=[]
df_filter = []
# for df in dataframes:
#     df_correct = df[~df.isna().any(1)]
#     df_corrects.append(df_correct)
for df in tqdm(dataframes):
    df.rename(columns={"基金規模(台幣)":"基金規模","單位淨值(台幣)":"單位淨值","本月定時定額扣款金額(台幣)":"本月定時定額扣款金額"}, inplace=True)
    df_correct = df[~df.isna().any(1)]
    df_filter = []
    for name in df_correct['基金名稱']:
        if ("中國" in name or "俄羅斯" in name or "巴西" in name or "印度" in name or "醫療" in name or "生技" in name) :
            if("中國信託" in name):
                continue
            filter1 = (df_correct['類型代號'] == "AA2")
            filter2 = (df_correct['類型代號'] == "2")
            filter3 = (df_correct['基金名稱'] == name)
            df_filter.append(df_correct[((filter1 | filter2) & filter3)])
    df_corrects.append(pd.concat(df_filter))
df_corrects[0]# 0=2001

100%|██████████| 216/216 [00:24<00:00,  1.86it/s]

   類型代號      基金統編    基金名稱       基金規模  單位淨值  本月定時定額扣款筆數  本月定時定額扣款人數  本月定時定額扣款金額
86    2  97990289  元大中國基金  436898521  6.54           8         8.0     63000.0

In [5]:
def plot_image(id):
    navs=[]
    money=[]
    num=[]
    people=[]
    scales=[]
    id = str(id)
    id = id.zfill(8)
    for i in range(0,2*12):
        try:
            navs.append(df_corrects[i][df_corrects[i]['基金統編']==id]['單位淨值'].values[0])
            money.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款金額'].values[0])
            num.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款筆數'].values[0])
            people.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款筆數'].values[0])
            scales.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金規模'].values[0])
        except:
            pass
    plt.plot(navs)
    plt.title('Unit net value')
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP value')
    plt.plot(money)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP Number of records')
    plt.plot(num)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP Number of people')
    plt.plot(people)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()
    plt.title('SIP Scale')
    plt.plot(scales)
    plt.ylabel('Value')
    plt.xlabel('Months')
    plt.show()

## Function of calculating rising or falling

In [6]:
def monthFilter(month, length, data):
    subData = np.array(data[(month - (month % 6)) : (month + (5-(month % 6)) + 1)])
    value=(data[month] - np.mean(subData)) / np.std(subData)
    if(value> 1 or value < -1):
        return value
    else:
        return 0

## This function will get various people,aliveList,variations

In [7]:
def preprocessing():
    id_list = []
    id_temp = []
    aliveList=[]
    uid=[]
    upeople=[]
    peopleChinaList = []
    peopleIndiaList = []
    peopleBrazilList = []
    peopleRussiaList = []
    peopleMedicalList = []
    markMonthChinaList =[]
    markMonthIndiaList = []
    markMonthBrazilList = []
    markMonthRussiaList = []
    markMonthlMedicalList = []
    MonthChinaValue=[]
    MonthIndiaValue=[]
    MonthRussiaValue=[]
    MonthBrazilValue=[]
    for df in df_corrects:
        for filter_id in df['基金統編']:
#             id = str(filter_id)
#             id = id.zfill(8)
            id_temp.append(filter_id)
    id_list = list(set(id_temp))
    for id in id_list:
            isAlive = True
            navs=[]
            money=[]
            num=[]
            people=[]
            scales=[]
            name = ''
            isSaveList = []
            for i in range((17-3)*12 + 4,17*12 + 4):
                try:
                    name = df_corrects[i][df_corrects[i]['基金統編']==id]['基金名稱'].values[0]
                    navs.append(df_corrects[i][df_corrects[i]['基金統編']==id]['單位淨值'].values[0])
                    money.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款金額'].values[0])
                    num.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款筆數'].values[0])
                    people.append(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款人數'].values[0])
                    scales.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金規模'].values[0])
                    if(df_corrects[i][df_corrects[i]['基金統編']==id]['本月定時定額扣款人數'].values[0]) == 0 :
                        isAlive = False
                    if(i == 17*12 + 3 and isAlive):
                        aliveList.append(df_corrects[i][df_corrects[i]['基金統編']==id]['基金名稱'].values[0])
                        
                
                except:
                    isAlive = False
                    navs.append(0)
                    money.append(0)
                    num.append(0)
                    people.append(0)
                    scales.append(0)
                    break
            funding={}
            funding
            if(isAlive):
                for i in range(0, len(people)):
                    if("中國" in name):
                        try:
                            peopleChinaList[i] += people[i]
                        except:
                            peopleChinaList.append(people[i])
                    elif("印度" in name):
                        try:
                            peopleIndiaList[i] += people[i]
                        except:
                            peopleIndiaList.append(people[i])
                    elif("巴西" in name):
                        try:
                            peopleBrazilList[i] += people[i]
                        except:
                            peopleBrazilList.append(people[i])
                    elif("俄羅斯" in name):
                        try:
                            peopleRussiaList[i] += people[i]
                        except:
                            peopleRussiaList.append(people[i])
                    else:
                        try:
                            peopleMedicalList[i] += people[i] 
                        except:
                            peopleMedicalList.append(people[i])
#                 plt.plot(navs)
#                 plt.title(id + 10*' ' +'Unit net value')
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP value')
#                 plt.plot(money)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP Number of records')
#                 plt.plot(num)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP Number of people')
#                 plt.plot(people)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()
#                 plt.title(id + 10*' ' +'SIP Scale')
#                 plt.plot(scales)
#                 plt.ylabel('Value')
#                 plt.xlabel('Months')
#                 plt.show()

    # Calculate people and value
    
    china={}
    for i in range(0, len(peopleChinaList)):
        value=monthFilter(i, 6, peopleChinaList)
        if value!=0:
            markMonthChinaList.append(i)
            MonthChinaValue.append(value)
    china={
        'Month_Index':markMonthChinaList,
        'Value':MonthChinaValue
    }
    brazil={}
    for i in range(0, len(peopleBrazilList)):
        value=monthFilter(i, 6, peopleBrazilList)
        if value!=0:
            markMonthBrazilList.append(i)
            MonthBrazilValue.append(value)
    brazil={
        'Month_Index':markMonthBrazilList,
        'Value':MonthBrazilValue
    }
    for i in range(0, len(peopleIndiaList)):
        value=monthFilter(i, 6, peopleIndiaList)
        if value!=0:
            markMonthIndiaList.append(i)
            MonthIndiaValue.append(value)
    india={
        'Month_Index':markMonthBrazilList,
        'Value':MonthBrazilValue
    }
    for i in range(0, len(peopleRussiaList)):
        value=monthFilter(i, 6, peopleIndiaList)
        if value!=0:
            markMonthIndiaList.append(i)
            MonthIndiaValue.append(value)
    russia={
        'Month_Index':markMonthRussiaList,
        'Value':MonthRussiaValue
    }
    variation={
        'China':pd.DataFrame(china),
        'Brazil':pd.DataFrame(brazil),
        'India':pd.DataFrame(india),
        'Russia':pd.DataFrame(russia)
    }
    
#     for i in range(0, len(peopleMedicalList)):
#         if(monthFilter(i, 6, peopleMedicalList)):
#             markMonthlMedicalList.append(i)
#     plt.title('SIP Number of people in Medical')
#     plt.plot(peopleMedicalList)
#     plt.ylabel('Value')
#     plt.xlabel('Months')
#     plt.show()
    china_df=pd.DataFrame(china)
    dict={}
    start_date = "2016/04" 
    stop_date="2019/03"
    start=datetime.strptime(start_date,"%Y/%m")
    stop=datetime.strptime(stop_date,"%Y/%m")
    arr_smonth=[]
    while start<=stop:
        arr_smonth.append(start.strftime('%Y/%m')) # Return a string representing the date and time
        start = start +  relativedelta(months=1)
    percentage_c=[]
    percentage_b=[]
    percentage_r=[]
    percentage_i=[]
    for i in range(len(peopleChinaList)):
        total=peopleChinaList[i]+peopleIndiaList[i]+peopleRussiaList[i]+peopleBrazilList[i]
        percentage_c.append((peopleChinaList[i]/total)*100)
        percentage_b.append((peopleBrazilList[i]/total)*100)
        percentage_r.append((peopleRussiaList[i]/total)*100)
        percentage_i.append((peopleIndiaList[i]/total)*100)
        
        
    
    dict={
        'Date':arr_smonth,
        'China':peopleChinaList,
        'India':peopleIndiaList,
        'Russia':peopleRussiaList,
        'Brazil':peopleBrazilList,
        'China%':percentage_c,
        'India%':percentage_i,
        'Russia%':percentage_r,
        'Brazil%':percentage_b
    }
 
    peopleDF=pd.DataFrame(dict)
    return aliveList,variation,peopleDF

In [8]:
aliveList,varation ,people= preprocessing()
varation['China']

   Month_Index     Value
0            0 -1.856616
1            9 -2.054153
2           12  1.923390
3           17 -1.151120
4           20 -1.889533
5           22  1.122276
6           24 -1.470169
7           29  1.457625
8           33 -1.806295

In [9]:
people

,Date,China,India,Russia,Brazil,China%,India%,Russia%,Brazil%
0,2016/04,19451.0,2267.0,2104.0,3244.0,71.865071,8.375822,7.773590,11.985517
1,2016/05,22223.0,2247.0,2058.0,3210.0,74.729303,7.555989,6.920438,10.794270
2,2016/06,22482.0,2231.0,2040.0,3153.0,75.175550,7.460041,6.821374,10.543035
3,2016/07,22306.0,2442.0,1965.0,2971.0,75.144859,8.226654,6.619728,10.008759
4,2016/08,20813.0,2413.0,1881.0,2754.0,74.702990,8.660852,6.751373,9.884785
5,2016/09,21304.0,2360.0,1811.0,2597.0,75.890567,8.406954,6.451268,9.251211
6,2016/10,21493.0,2390.0,1738.0,2490.0,76.457614,8.502010,6.182633,8.857743
7,2016/11,21451.0,2314.0,1710.0,2375.0,77.023339,8.308797,6.140036,8.527828
8,2016/12,20909.0,2231.0,1663.0,2222.0,77.369103,8.255319,6.153562,8.222017
9,2017/01,17905.0,2046.0,1535.0,2062.0,76.036181,8.688636,6.518600,8.756582
10,2017/02,20907.0,2241.0,1565.0,2122.0,77.909447,8.351034,5.831936,7.907583
11,2017/03,20010.0,2170.0,1562.0,2099.0,77.435084,8.397508,6.044658,8.122751
12,2017/04,19725.0,2133.0,1526.0,2079.0,77.465342,8.376861,5.993009,8.164788
13,2017/05,19436.0,2099.0,1479.0,1995.0,77.716022,8.392979,5.913871,7.977128
14,2017/06,19333.0,2095.0,1487.0,1960.0,77.720603,8.422111,5.977889,7.879397
15,2017/07,19496.0,2102.0,1487.0,1903.0,78.021450,8.412038,5.950856,7.615656
16,2017/08,19473.0,2106.0,1474.0,1804.0,78.340105,8.472462,5.929919,7.257513
17,2017/09,19303.0,2093.0,1480.0,1801.0,78.222636,8.481582,5.997488,7.298294
18,2017/10,19040.0,2098.0,1453.0,1808.0,78.035985,8.598713,5.955162,7.410140
19,2017/11,18705.0,2113.0,1462.0,1799.0,77.681797,8.775281,6.071681,7.471241
20,2017/12,15852.0,1869.0,1404.0,1609.0,76.454133,9.014180,6.771486,7.760201
21,2018/01,17443.0,2097.0,1438.0,1778.0,76.652311,9.215152,6.319213,7.813324
22,2018/02,19449.0,2139.0,1447.0,1815.0,78.265594,8.607646,5.822938,7.303823
23,2018/03,18163.0,2102.0,1417.0,1797.0,77.358491,8.952681,6.035180,7.653648
24,2018/04,18314.0,2148.0,1413.0,1812.0,77.316672,9.068265,5.965297,7.649766
25,2018/05,18971.0,2143.0,1419.0,1838.0,77.842518,8.793238,5.822494,7.541750
26,2018/06,19810.0,2225.0,1432.0,1805.0,78.387148,8.804210,5.666350,7.142292
27,2018/07,20429.0,2306.0,1434.0,1777.0,78.736607,8.887690,5.526863,6.848840
28,2018/08,21093.0,2382.0,1432.0,1790.0,79.008877,8.922351,5.363899,6.704873
29,2018/09,21815.0,2476.0,1428.0,1778.0,79.335928,9.004619,5.193294,6.466160
30,2018/10,22991.0,2508.0,1425.0,1792.0,80.063379,8.733807,4.962390,6.240423
31,2018/11,23303.0,2492.0,1412.0,1764.0,80.435608,8.601705,4.873839,6.088847
32,2018/12,21735.0,2379.0,1381.0,1706.0,79.905151,8.746002,5.077019,6.271828
33,2019/01,20914.0,2267.0,1406.0,1692.0,79.584459,8.626660,5.350280,6.438601
34,2019/02,23256.0,2408.0,1398.0,1690.0,80.884808,8.375070,4.862270,5.877852
35,2019/03,23201.0,2324.0,1460.0,1668.0,80.972324,8.110844,5.095452,5.821380

In [10]:
aliveList

['安聯中國東協基金',
 '野村新興傘型基金之大俄羅斯基金',
 '瀚亞巴西基金',
 '野村雙印傘型基金之印度潛力基金',
 '兆豐國際中國A股基金(美金)',
 '第一金中國世紀基金-新臺幣',
 '德信中國精選成長基金',
 '安聯中國策略基金',
 '復華中國新經濟A股基金-新臺幣',
 '台新印度基金',
 '野村巴西基金',
 '群益全球關鍵生技基金-新臺幣',
 '保德信全球醫療生化基金-新臺幣',
 '國泰中國內需增長基金台幣級別',
 '野村中國機會基金',
 '群益中國新機會基金-新臺幣',
 '台新中國精選中小基金',
 '日盛中國內需動力基金',
 '元大印度基金',
 '摩根中國亮點基金',
 '安聯全球生技趨勢基金-新臺幣',
 '兆豐國際中國A股基金(台幣)',
 '野村全球生技醫療基金']

In [11]:
newAliveList = []
for name in aliveList:
    if("新臺幣" in name):
        name = name.replace("新臺幣", "台幣")
    if("新台幣" in name):
        name = name.replace("新台幣", "台幣")
    if("台幣類型" in name):
        name = name.replace("台幣類型", "台幣")
    if("N" in name):
        name = name.replace("N", "N類型")
    if("-N類型" in name):
        name = name.replace("-N類型", "")
        name = name.replace("基金", "基金N類型")
    if("級別" in name):
        if("台幣" in name):
            name = name.replace("台幣級別", "(台幣)")
        if("人民幣" in name):
            name = name.replace("人民幣級別", "(人民幣)")
        if("美元" in name):
            name = name.replace("美元級別", "(美元)")
    if("-" in name):
        name = name.replace("-", "(", 1) + ")"
    if("人民幣類型" in name):
        name = name.replace("類型", "")
    if("兆豐國際中國A股基金(美金)" in name):
        name = name.replace("美金", "美元")
    if("安聯中國策略基金" in name):
        name = name + "(台幣)"
    if("台新中國精選中小基金" in name):
        name = name + "(台幣)"
    if("摩根中國A股基金" in name):
        if("摩根中國A股基金(美元)" in name):
            pass
        else:
            name = name + "(台幣)"
    if("瀚亞中國" in name):
        name = name.replace("中國", "中國A股")
    if("野村新興傘型基金之大俄羅斯基金" in name):
        name = name.replace("野村新興傘型基金之大俄羅斯基金", "野村大俄羅斯基金")
    if("野村雙印傘型基金之印度潛力基金" in name):
        name = name.replace("野村雙印傘型基金之印度潛力基金", "野村印度潛力基金")
    newAliveList.append(name)
# newAliveList

In [12]:
newAliveList

['安聯中國東協基金',
 '野村大俄羅斯基金',
 '瀚亞巴西基金',
 '野村印度潛力基金',
 '兆豐國際中國A股基金(美元)',
 '第一金中國世紀基金(台幣)',
 '德信中國精選成長基金',
 '安聯中國策略基金(台幣)',
 '復華中國新經濟A股基金(台幣)',
 '台新印度基金',
 '野村巴西基金',
 '群益全球關鍵生技基金(台幣)',
 '保德信全球醫療生化基金(台幣)',
 '國泰中國內需增長基金(台幣)',
 '野村中國機會基金',
 '群益中國新機會基金(台幣)',
 '台新中國精選中小基金(台幣)',
 '日盛中國內需動力基金',
 '元大印度基金',
 '摩根中國亮點基金',
 '安聯全球生技趨勢基金(台幣)',
 '兆豐國際中國A股基金(台幣)',
 '野村全球生技醫療基金']

In [25]:
# df_corrects[172][df_corrects[172]['基金名稱'] =='瀚亞巴西基金']['本月定時定額扣款人數']

181    1558.0
Name: 本月定時定額扣款人數, dtype: float64

In [32]:
def country_classifier(newAliveList):
    country=dict()
    china=[]
    india=[]
    brazil=[]
    russia=[]
    for funding in newAliveList:
        if '中國' in funding:
            china.append(funding)
        elif '巴西' in funding:
            brazil.append(funding)
        elif '印度' in funding:
            india.append(funding)
        elif '俄羅斯' in funding:
            russia.append(funding)
    country={
        'China':china,
        'Brazil':brazil,
        'India':india,
        'Russia':russia
    }
    return country

In [33]:
result=country_classifier(newAliveList)

In [34]:
result

{'China': ['安聯中國東協基金',
  '兆豐國際中國A股基金(美元)',
  '第一金中國世紀基金(台幣)',
  '德信中國精選成長基金',
  '安聯中國策略基金(台幣)',
  '復華中國新經濟A股基金(台幣)',
  '國泰中國內需增長基金(台幣)',
  '野村中國機會基金',
  '群益中國新機會基金(台幣)',
  '台新中國精選中小基金(台幣)',
  '日盛中國內需動力基金',
  '摩根中國亮點基金',
  '兆豐國際中國A股基金(台幣)'],
 'Brazil': ['瀚亞巴西基金', '野村巴西基金'],
 'India': ['野村印度潛力基金', '台新印度基金', '元大印度基金'],
 'Russia': ['野村大俄羅斯基金']}

In [83]:
# Alivelist
# ['安聯中國東協基金',
#  '野村新興傘型基金之大俄羅斯基金',
#  '瀚亞巴西基金',
#  '野村雙印傘型基金之印度潛力基金',
#  '兆豐國際中國A股基金(美金)',
#  '第一金中國世紀基金-新臺幣',
#  '德信中國精選成長基金',
#  '安聯中國策略基金',
#  '復華中國新經濟A股基金-新臺幣',
#  '台新印度基金',
#  '野村巴西基金',
#  '群益全球關鍵生技基金-新臺幣',
#  '保德信全球醫療生化基金-新臺幣',
#  '國泰中國內需增長基金台幣級別',
#  '野村中國機會基金',
#  '群益中國新機會基金-新臺幣',
#  '台新中國精選中小基金',
#  '日盛中國內需動力基金',
#  '元大印度基金',
#  '摩根中國亮點基金',
#  '安聯全球生技趨勢基金-新臺幣',
#  '兆豐國際中國A股基金(台幣)',
#  '野村全球生技醫療基金']
hybr=[]
for i in range(14*12+4,17*12+4):
    a=df_corrects[i][df_corrects[i]['基金名稱']=='安聯全球生技趨勢基金-新臺幣']['本月定時定額扣款人數']
    hybr.append(a)

In [84]:
hybr

[Series([], Name: 本月定時定額扣款人數, dtype: float64),
 Series([], Name: 本月定時定額扣款人數, dtype: float64),
 Series([], Name: 本月定時定額扣款人數, dtype: float64),
 Series([], Name: 本月定時定額扣款人數, dtype: float64),
 Series([], Name: 本月定時定額扣款人數, dtype: float64),
 Series([], Name: 本月定時定額扣款人數, dtype: float64),
 Series([], Name: 本月定時定額扣款人數, dtype: float64),
 974    2281.0
 Name: 本月定時定額扣款人數, dtype: float64,
 997    2259.0
 Name: 本月定時定額扣款人數, dtype: float64,
 997    2217.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1049    2222.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1074    2141.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1096    2136.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1109    2103.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1120    2092.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1132    2116.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1140    2064.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1153    2069.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1178    2022.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1180    2011.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1207    1981.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1214    1942.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1231    1954.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1244    1907.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1250    1905.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1271    1903.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1293    1911.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1308    1891.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1330    1864.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1335    1842.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1362    1813.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1427    1782.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1458    1795.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1483    1739.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1494    1714.0
 Name: 本月定時定額扣款人數, dtype: float64,
 1519    1688.0
 Name: 本月定時定額扣款人數, dtype: float64]

In [47]:
len(hybr)

35

In [ ]:
pd.set_option('display.max_rows', None)
df2 = pd.read_html("https://www.moneydj.com/funddj/yb/YP302000.djhtm?a=ET003001")
df3 = pd.read_html("https://www.moneydj.com/funddj/yb/yp302000.djhtm?a=ET003002")
df4 = pd.read_html("https://www.moneydj.com/funddj/yb/yp302000.djhtm?a=ET003003")
dfFinal = pd.concat([df2[4], df3[4], df4[4]], axis=0)
dfFinal

In [ ]:
for name in newAliveList:
    filterName = (dfFinal["基金名稱"]["基金名稱"] == name)
    try:
        print(dfFinal[filterName]["報酬率(%)"]["六個月"].values[0])
    except:
        print(name)